@keyframes toTopRight {
  49% {
    transform: translate(30px, -30px);
  }
  50% {
    opacity: 0;
    transform: translate(-30px, 30px);
  }
  51% {
    opacity: 1;
  }
}

@keyframes move {
  0% {
    transform: rotate(1deg) translate(1px, 1px);
  }
  50% {
    transform: rotate(-1deg) translate(-1px, -1px);
  }
  100% {
    transform: rotate(1deg) translate(1px, 1px);
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@keyframes toRightFromLeft {
  49% {
    transform: translateX(100%);
  }
  50% {
    opacity: 0;
    transform: translateX(-100%);
  }
  51% {
    opacity: 1;
  }
}

@keyframes circleWrapper {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveUpAndFade {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%); /* Adjust to the desired distance */
    opacity: 0;
  }
}

@keyframes st-wave-animation {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveBackground {
  0% {
    background-position: center center;
  }
  25% {
    background-position: top center;
  }
  50% {
    background-position: bottom center;
  }
  75% {
    background-position: left center;
  }
  100% {
    background-position: right center;
  }
}

@keyframes fadeInMove {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
