@font-face {
  font-family: "expo"; /* Choose a name for the font */
  src:
    url("./fonts/expo.woff2") format("woff2"),
    url("./fonts/expo.woff") format("woff"),
    url("./fonts/expo.ttf") format("truetype"),
    url("./fonts/expo.eot");
}

:root {
  --gold: #c1965e;
  --gold-secound: #ebb74f;
  --green: #adbabb;
  --black: #000;
  --white: #fff;
}

html {
  scrollbar-width: thin;
  scroll-behavior: smooth;
  font-size: 17px;
}

::-webkit-scrollbar {
  width: 6px !important;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #e0e0e0;
}

::-webkit-scrollbar-track {
  margin: 13px 0;
}

body {
  font-size: 1rem;
  font-family: "expo";
  direction: rtl;
  text-align: start;
  background-color: var(--body-color);
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  text-rendering: optimizeLegibility;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;

  &:focus {
    box-shadow: none !important;
  }
}

[dir="rtl"] {
  * {
    letter-spacing: normal !important;
  }
}

input::-webkit-input-placeholder {
  color: inherit;
}

input::placeholder {
  color: inherit;
}

iframe {
  border: none;
}

img {
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  hyphens: auto;
}
p {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  overflow-wrap: break-word;
  hyphens: auto;
}

ul {
  list-style: none;
  margin-block: 0;
  padding-inline-start: 0;
}
