.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 40px);
  background-color: var(--gold);
}
