.container-section {
  width: min(1350px, 95%);
  margin-inline: auto;
}

.btn {
  transition:
    background-color 0.3s,
    color 0.3s;

  border: 1px solid var(--gold-secound);
  border-radius: 20px;
}

.btn.dark {
  background-color: var(--dark);
  border: 1px solid var(--dark);
}

.circle-anim {
  animation: circleWrapper 5s linear infinite;
}

.move-up {
  animation: moveUpAndFade 0.5s ease-in 1.5s forwards;
}

.fade-in-up {
  animation: fadeInUp forwards;
}

.fade-in-move {
  animation: fadeInMove forwards;
}

.btn.gold {
  background: linear-gradient(
    90deg,
    rgba(186, 144, 97, 1) 0%,
    rgba(235, 183, 79, 1) 66%
  );
}

.btn.white {
  background-color: var(--white);
}

.btn:hover {
  background-color: transparent;
  color: var(--black);
}

.btn.hover-white:hover {
  color: var(--white) !important;
}

.btn.hover-black:hover {
  color: var(--black) !important;
}

.text-primary {
  color: var(--gold) !important;
}
